.accordion {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    @include font(15px, 16px);

    margin: 2px 0px 24px 2px;

    font-family: "Roboto Condensed", "Arial", "Helvetica", sans-serif;
    font-weight: 400;
    color: $dark-blue;
    text-transform: uppercase;
    letter-spacing: 0.05em;

    user-select: none;
  }
}

.accordion-toggle {
  display: none;
}

.accordion-toggle__icon {
  display: none;
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

@media (max-width: $tablet) {
  .accordion {
    h2 {
      margin-top: 45px;
    }
  }
}

@media (max-width: $mobile) {
  .accordion {
    min-height: 72px;
    padding-left: 15px;
    padding-right: 17px;

    h2 {
      margin: 0;
    }
  }

  &::after {
    content: "";
    position: absolute;

    width: 98%;
  }

  .accordion-toggle {
    &--js {
      display: block;
      width: 16px;
      height: 16px;
      padding: 0;

      background: transparent;
      border: none;
      cursor: pointer;
    }
  }

  .accordion-toggle__icon--js {
    display: block;
  }

  .accordion-toggle__icon--close {
    margin-top: 7px;
  }
}
