.button {
  @include font(14px, 18px);

  display: inline-block;
  min-height: 45px;
  padding: 14px 32px 12px;

  font-family: "Roboto Condensed", "Arial", "Helvetica", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.05em;
  vertical-align: middle;
  color: $white;

  background: none;
  border: 1px solid $white;
  border-radius: 5px;

  cursor: pointer;

  &:hover,
  &:focus {
    outline: 1px auto $light-line;
  }

  &:active {
    opacity: 0.6;
  }

  &--blue {
    @include font(16px, 21px);

    margin-left: 92px;
    padding: 16px 45px;

    letter-spacing: 0.05em;

    background: $pure-blue;
    border: none;

    @media (max-width: $tablet) {
      margin-left: 51px;
      padding: 16px 30px;
    }

    @media (max-width: $mobile) {
      margin-left: auto;
      margin-right: auto;
      padding: 16px 30px;
    }
  }

  &--blue-small {
    display: none;
  }

  &--blue-border {
    padding: 12px 52px;

    color: $pure-blue;

    border-color: $pure-blue;
  }

  &--submit {
    width: 48%;
    padding: 13px 32px;

    letter-spacing: 0.05em;
  }
}

@media (max-width: $mobile) {
  .button--blue-small {
    display: inline-block;
  }

  .button--blue-big {
    display: none;
  }

  .button--submit {
    width: 100%;
    margin: 0 auto 30px;
  }
}
