.footer {
  position: relative;

  min-height: 316px;
  padding-top: 63px;

  background-color: $very-light-gray;

  a {
    color: $dark-blue;

    &:hover,
    &:focus {
      color: $pure-blue;
    }

    &:active {
      color: $pure-blue;

      opacity: 0.6;
    }
  }
}

.footer__content {
  @include font(15px, 25px);

  display: flex;
  justify-content: space-between;
  min-height: 180px;
  margin-bottom: 20px;

  color: $dark-blue;
}

.footer__links {
  width: 20%;
  padding-top: 2px;
}

.footer__logo {
  display: block;
  width: 202px;
  height: 52px;
  margin-bottom: 52px;
}

.footer__links-copyright {
  display: none;
}

.footer__social {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;

  li:not(:last-child) {
    margin-right: 14px;
    margin-bottom: 8px;
  }
}

.footer__social li {
  width: 27px;
  height: 27px;

  &:nth-child(7n) {
    margin-right: 0;
  }
}

.footer__link {
  svg {
    fill: $social-grey;
  }

  &:hover,
  &:focus {
    svg {
      fill: $pure-blue;
    }
  }

  &:active {
    svg {
      fill: $pure-blue;
      opacity: 0.6;
    }
  }
}

.footer__menu {
  flex-grow: 1;
  width: 50%;
  padding-left: 138px;
}

.footer__list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;

  opacity: 50%;
}

.footer__item {
  width: 44%;
  margin-right: 20px;
}

.footer__contacts {
  min-width: 340px;
  padding-left: 5px;

  address {
    font-style: normal;
    opacity: 50%;
  }
}

.footer__contacts-list {
  @include list-reset;

  a {
    display: inline-block;

    opacity: 50%;
  }
}

.footer__bottom {
  position: relative;
  min-height: 52px;

  &::after {
    content: "";
    position: absolute;
    top: 0;

    width: 100%;
    height: 1px;

    background-color: $grayish-green;
    opacity: 20%;
  }
}

.footer__bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1440px;
  min-height: 52px;
  margin: 0 auto;
  padding: 0 14px;

  opacity: 50%;

  p,
  a {
    @include clear-content(0);
    @include font(13px, 24px);

    padding-left: 14px;

    letter-spacing: 0.04em;
    text-transform: uppercase;
  }

  &:first-child,
  p > a {
    padding-left: 0;
  }

  a {
    width: 35%;
  }
}

.footer__bottom-copyright {
  display: flex;
  justify-content: space-between;
  width: 33%;
}

@media (min-width: $tablet) and (max-width: $container) {
  .footer__menu {
    padding-left: 50px;
  }
}

@media (max-width: $tablet) {
  .footer {
    min-height: 457px;
    padding-top: 0;

    &::before {
      content: "";
      position: absolute;
      top: 96px;
      bottom: auto;

      width: 100%;
      height: 1px;

      background-color: $grayish-green;
      opacity: 20%;
    }
  }

  .footer__container {
    padding: 19px 25px 0;
  }

  .footer__content {
    flex-wrap: wrap;
    margin-bottom: 37px;
  }

  .footer__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 18px;
  }

  .footer__logo {
    margin-bottom: 0;
  }

  .footer__links-copyright {
    @include font(13px, 24px);

    display: block;
    margin-left: 30px;

    letter-spacing: 0.04em;
    text-transform: uppercase;
    opacity: 0.5;
  }

  .footer__social {
    margin-right: -3px;
    padding-top: 0;

    li:not(:last-child) {
      margin-right: 16px;
    }
  }

  .footer__menu {
    width: 50%;
    padding-left: 0;
  }

  .footer__list {
    max-height: 100%;
  }

  .footer__item {
    width: 100%;

    &--about {
      order: 0;
    }

    &--products {
      order: 1;
    }

    &--production {
      order: 2;
    }

    &--install {
      order: 3;
    }

    &--details {
      order: 4;
    }

    &--delivery {
      order: 5;
    }

    &--contacts {
      order: 6;
    }
  }

  .footer__contacts {
    max-width: 360px;
    width: 50%;
    padding-left: 17px;
  }

  .footer__bottom-container {
    padding: 22px 22px;

    a {
      padding-left: 26px;
    }
  }

  .footer__bottom-copyright {
    display: none;
  }
}

@media (max-width: $mobile) {
  .footer {

    &::before {
      display: none;
    }
  }

  .footer__container {
    padding: 0;
    padding-top: 45px;
  }

  .footer__content {
    margin-bottom: 0;
  }

  .footer__links {
    flex-direction: column;
    min-height: 175px;
    margin-bottom: 42px;
  }

  .footer__logo {
    margin-right: 14px;
  }

  .footer__links-copyright {
    margin: 0;
    margin-bottom: 6px;
  }

  .footer__social {
    margin-right: 0;
    margin-bottom: 6px;
  }

  .footer__menu {
    position: relative;

    width: 100%;
    padding: 0;

    &::before {
      content: "";
      position: absolute;
      top: 1px;

      width: 100%;
      height: 1px;

      background-color: $grayish-green;
      opacity: 20%;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 1px;

      width: 100%;
      height: 1px;

      background-color: $grayish-green;
      opacity: 20%;
    }
  }

  .footer__list {
    padding: 4px 15px 28px;

    &--close {
      display: none;
    }
  }

  .footer__contacts {
    position: relative;

    max-width: 767px;
    min-width: 320px;
    width: 100%;
    padding-left: 0;
  }

  .footer__contacts-wrap {
    padding: 4px 15px 28px;

    &--close {
      display: none;
    }
  }

  .footer__bottom-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 27px 0;

    p,
    a {
      padding-left: 0;
    }

    a {
      width: 100%;
      margin-bottom: 20px;

      text-align: center;
    }
  }

  p.footer__bottom-copyright {
    top: 123px;
    left: 50%;

    min-width: 258px;
    margin-left: -115px;
  }
}
