.header {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;

  width: 100%;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 31px;
}

.header__logo-link {
  margin-right: 50px;
}

.header__logo {
  width: 202px;
  height: 52px;
}

.header__logo-mobile {
  display: none
}

.header__links {
  @include list-reset;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-width: 30.5%;
  margin: 0 50px 0 auto;
}

.header__item {
  &:not(:last-child) {
    margin-right: 20px;
  }

  &--email {
    margin-left: 7px;
  }
}

.header__link {
  display: flex;
  align-items: center;

  color: $white;

  svg {
    margin-right: 16px;

    fill: $pure-blue;
  }

  &:hover,
  &:focus {
    color: $pure-blue;

    svg {
      fill: $white;
    }
  }

  &:active {
    color: $pure-blue;

    opacity: 0.6;

    svg {
      fill: $white;

      opacity: 0.6;
    }
  }
}

@media (min-width: $tablet) and (max-width: $container) {
  .header__item {
    &--email {
      margin-right: 0;
    }
  }
}

@media (max-width: $tablet) {
  .header::before {
    min-height: 686px;

    background-image: url("../img/hero-bg-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-bg-tablet@2x.jpg");
    }
  }

  .header__container {
    padding: 19px 0 0 25px;

    button {
      display: none;
    }
  }

  .header__links {
    justify-content: flex-end;
    margin: 0 10px 0 auto;
  }

  .header__item {
    span {
      display: none;
    }

    &--email {
      margin-right: 17px;

      svg {
        width: 26px;
        height: 19px;
      }
    }

    &--phone {
      svg {
        width: 24px;
        height: 24px;
      }
    }
  }

  .header__link {
    svg {
      margin-right: 15px;
    }
  }
}

@media (max-width: $mobile) {
  .header::before {
    min-height: 646px;

    background-image: url("../img/hero-bg-mobile@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-bg-mobile@2x.jpg");
    }
  }

  .header__container {
    padding: 16px 0 0 17px;
  }

  .header__logo {
    display: none;
  }

  .header__logo-mobile {
    display: block;
  }

  .header__links {
    margin-right: 0;
  }

  .header__item {
    &:not(:last-child) {
      margin-right: 20px;
    }

    &--email {
      margin-right: 8px;
    }
  }

  .header__item:first-of-type .header__link {
    svg {
      margin-right: 4px;
    }
  }


}
